<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.sensor.ambient_temperature"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group03"
        tools:targetApi="31">
        <activity
            android:name=".info_layout"
            android:exported="false" />
        <activity
            android:name=".temperatureSensor"
            android:exported="false" />
        <activity
            android:name=".selectCallLayout"
            android:exported="false" />
        <activity
            android:name=".selectCall"
            android:exported="false" />
        <activity
            android:name=".emergencyCall"
            android:exported="false" />
        <activity
            android:name=".infolocal"
            android:exported="false" />
        <activity
            android:name=".infonational"
            android:exported="false" />
        <activity
            android:name=".infonews"
            android:exported="false" />
        <activity
            android:name=".personalPage"
            android:exported="false" />
        <activity
            android:name=".editProfile"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".department"
            android:exported="false" />
        <activity
            android:name=".rv_departmentLayout"
            android:exported="false" />
        <activity
            android:name=".departmentControl"
            android:exported="false" />
        <activity
            android:name=".addDepartment"
            android:exported="false" />
        <activity
            android:name=".UpdateReport"
            android:exported="false" />
        <activity
            android:name=".Report"
            android:exported="false" />
        <activity
            android:name=".editReport"
            android:exported="false" />
        <activity
            android:name=".addReport"
            android:exported="false" />
        <activity
            android:name=".addInfo"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".editInfo"
            android:exported="false" />
        <activity
            android:name=".UpdateInfo"
            android:exported="false" />
        <activity
            android:name=".Information"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>